// Colors
$orange: #F38F19;
$blue: #51A7F9;
$color1: #fff;

// FONTS
@font-face {
  font-family: "oswald-extraLight";
  src: url("fonts/Oswald-ExtraLight.ttf");
}

@font-face {
  font-family: "oswald-light";
  src: url("fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: "oswald-regular";
  src: url("fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "oswald-bold";
  src: url("fonts/Oswald-Bold.ttf");
}

$textExtraLight: "oswald-extraLight";
$textLight: "oswald-light";
$textRegular: "oswald-regular";
$textBold: "oswald-bold";
$font1: 'Arial';

// Layer Width
$layerWidth: 960px;

// Keyframes
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fadeIn .5s ease-in 1 forwards;
  animation: fadeIn .5s ease-in 1 forwards;
  opacity: 0;
}

.fade-out {
  -webkit-animation: fadeOut .5s ease-in 1 forwards;
  animation: fadeOut .5s ease-in 1 forwards;
  opacity: 1;
}

body {
  background: $color1;
  font-family: $font1;
}

.container {
  padding-top: 60px;
}

body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

body::-webkit-scrollbar-track-piece  {
  background-color: black;
}
 
body::-webkit-scrollbar-thumb {
  // background-color: $blue;
  background: #51a7f9; /* Old browsers */
background: -moz-linear-gradient(top, #51a7f9 1%, #f38f19 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #51a7f9 1%,#f38f19 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #51a7f9 1%,#f38f19 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid slategrey;
}