// html {
//   box-sizing: border-box;
//   font-family: 'Oswald', sans-serif;
// }

// body {
//   margin: 0;
//   height: 3000px;
// }

.videoLanding {
  z-index: -1;
  position: fixed;
  width: 100%;
}

.Home {
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  font-family: $textLight;

  &-header {
    height: 100vh;
    display: flex;
    justify-content: center;

    h2 {
      color: rgba(220, 220, 220, 1);
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 4em;
      color: #fff;
      position: absolute;
      margin: auto;
      top: 50%;
    }
  }
}