// html {
//   box-sizing: border-box;
//   font-family: 'Oswald', sans-serif;
// }

// body {
//   margin: 0;
//   height: 3000px;
// }

.videoLanding {
  z-index: -1;
  position: fixed;
  width: 100%;
  margin-top: 60px; 
}

.Home {
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  font-family: $textLight;
  &-header {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font-size: 0px;
      color: rgba(220, 220, 220, 1);
      text-align: center;
      margin: 60px 0;
    }
  }
}