.container.login {
  .form-sub {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    border-radius: 8px;
  }

  .button{
    padding: 9px;
    width:200px;
    margin-top: 20px;
    border: 1px solid rgba(204, 204, 204, 0.26);
    font-weight: 300;
    box-sizing: content-box;
    background-color: white;
    min-width: 25vw;
    height: 20px;
    font-size: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    outline: none;

    .button:first-child {
      padding-bottom: 10px;
    }

    .button::-webkit-input-placeholder {
      color: #F38F19;
      opacity: 0.7;
    }

    .button-valider::-webkit-input-placeholder {
      color: white;
    }
  }

  .submit{
    width: 80px;
    min-width: 10px;
    background-color: #000;
    color: #fff;
  }
}

.sub {
  margin-bottom: 15px;
}

.sub p {
  margin-bottom: 15px;
}